[init]
  defaultBranch = main
[user]
  name = CassandraCat
  email = CassandraCat@proton.me
[core]
  excludesfile = ~/.gitignore_global
  editor = lvim
  ignorecase = false
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  precomposeunicode = true
  autocrlf = input
[commit]
  verbose = true
[pull]
  rebase = false
[https]
  proxy = http://127.0.0.1:6152
