.mac,
.mtk1,
.input,
.composite.title .title-label h2 {
  font-family: "Cavolini", sans-serif !important;
  font-weight: bold !important;
  font-style: italic !important;
}

.monaco-action-bar .action-item .codicon {
  font-weight: bold !important;
}

.codicon-tree-item-expanded:before {
  content: "" !important;
}

.monaco-tl-twistie {
  width: 3px !important;
}

.monaco-editor .codelens-decoration {
  color: #038ac7 !important;
}

.editor-container
  .editor-instance
  .monaco-editor
  [class*="TextEditorDecorationType7"]::after {
  color: #0269b3 !important;
}
